@import url("chrome_shared.css");

body {
  font-family:'Helvetica Neue', Arial, sans-serif !important;
  background:#fff;
  padding: 20px;
  width: 600px;
}

.properties {
  padding-left: 16px;
}

.actions {
  padding-top: 20px;
}

#status {
  font-size: 14px;
  color: green;
}